*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --texto--naranja--fuerte:hsl(353, 100%, 62%);
    --texto--naranja--claro: hsl(13, 100%, 72%);
    --texto--azul--oscuro:hsl(237, 17%, 21%);
    --texto--azul--claro: hsl(237, 23%, 32%);
}

body{
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
}

h3{
    color: var(--texto--azul--oscuro);
    font-weight: 600;
    font-size: 2rem;
}

p{
    color: var(--texto--azul--claro);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

/* CONTENEDOR */

.container{
    margin: 0;
    padding:0;
}

/*   HEADER   */

.header{
    height: 100vh;
    width: 100vw;
    background: url(images/bg-pattern-intro.svg),linear-gradient(to bottom, 
    hsl(13, 100%, 72%)30%,hsl(353, 100%, 62%));
    background-size: 80rem 80rem;
    background-repeat: no-repeat;
    background-position:-18rem -8rem;
    border-bottom-left-radius: 9rem;
}


/*   NAVBAR   */

.navbar{
    background: transparent;
}
.navbar-toggler{
    width: 4rem;
}

.navbar-toggler-icon{
    color: white;
    width: 5rem;
    height: 3rem;
}

.navbar-toggler:focus{
    box-shadow: 0 0 0 0;
}

.navbar-collapse{
    width: 100%;
    padding: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.13) 0rem 1rem 2rem 1rem;
}

.navbar-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-nav a{
    color: var(--texto--azul--oscuro);
    font-weight: 600;
    font-size: 1.3rem;
    margin: 0 auto;
}

.nav-link ion-icon{
    color: var(--texto--naranja--fuerte);
}

.nav-item{
width: 100%;
text-align: center;
}

.dropdown-menu{
    text-align: center;
    border: none;
    background: rgba(128, 128, 128, 0.170);
}



.dropdown-menu a{
    font-weight: 600;
    color: var(--texto--azul--claro);
    font-size: 1.1rem;
    margin: .5rem 0rem
}

.navbar-nav__botones{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 2rem 0rem 2rem;
    margin-top: 1rem;
    border-top: 1px solid rgba(128, 128, 128, 0.411);
}

.login{
    color: var(--texto--azul--oscuro);
    font-weight: 600;
    font-size: 1.3rem;
    background: transparent;
    border: none;
    margin: 1rem 0rem;
}

.sing-up{
    padding-top:.2rem;
    background: linear-gradient(to right, 
    hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    border: none;
    width: 9rem;
    height: 3rem;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 2rem;
}

/*   INTRO   */

.intro{
    height: 80vh;
}

.intro h2{
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 2.5rem;
}

.intro p{
    margin-top: 1rem;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 1.3rem;
}

.start_learn{
    width: 100%;
}

.start{
    padding-top:.2rem;
    background: white;
    border: none;
    width: 10rem;
    height: 3.5rem;
    color: var(--texto--naranja--fuerte);
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 2rem;
}

.learn{
    padding-top:.2rem;
    background: transparent;
    border: 2px solid white;
    width: 10rem;
    height: 3.5rem;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 2rem;
}

/*   MAIN   */

/*   DESIGNED   */

.designed h3{
    margin: 4rem 0 3rem 0;
    text-align: center;
}

.designed .computer{
    margin-top: 7rem;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.designed img, .computer img{
    width:100%;
}

.designed div, .computer div{
    text-align: center;
    margin-top: 2rem;
    padding: 0 2rem 2rem 2rem;
}

/*   STATE   */

.state{
    background: url(images/bg-pattern-circles.svg), var(--texto--azul--oscuro);
    background-repeat: no-repeat;
    background-size: 40rem 40rem;
    background-position: 50% -16rem;
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 2rem;
    margin-top: 15rem;
    position:relative;
}

.state img{
    width: 100%;
    position:absolute;
    bottom: 26rem;
}

.state h3{
    color: white;
    font-size: 2.7rem;
    margin-top: 13rem;
    margin-bottom: 0;
}

.state p{
    color: white;
    margin-top: 1rem;
    margin-bottom: 5rem;
}


/*   FOOTER   */

footer{
    background: var(--texto--azul--oscuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 7rem;
}

footer img{
    margin: 4rem 0;
}

footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

footer div > h5{
    color: white;
    font-weight: 600;
}

footer div > div{
    margin-top: 1rem;
}

footer div > div > a{
    text-decoration: none;
    color: rgb(153, 153, 153);
    font-size: 1.2rem;
    font-weight: 600;
}