*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --texto--naranja--fuerte:hsl(353, 100%, 62%);
    --texto--naranja--claro: hsl(13, 100%, 72%);
    --texto--azul--oscuro:hsl(237, 17%, 21%);
    --texto--azul--claro: hsl(237, 23%, 32%);
}

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
}

h3{
    color: var(--texto--azul--oscuro);
    font-weight: 600;
    font-size: 2rem;
}

p{
    color: var(--texto--azul--claro);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

/* CONTENEDOR */

.container-fluid{
    width: auto;
}

/*   HEADER   */

.header{
    height: 100vh;
    width: 100vw;
    background: url(images/bg-pattern-intro.svg),linear-gradient(to bottom, 
    hsl(13, 100%, 72%)30%,hsl(353, 100%, 62%));
    background-size: 80rem 80rem;
    background-repeat: no-repeat;
    background-position:-18rem -8rem;
    border-bottom-left-radius: 9rem;
    padding: 1rem;
}

header .container-fluid{
    margin: 0;
    display: flex;
    justify-content: space-around;
}

/*   NAVBAR   */

.navbar{
    background: transparent;
}
.navbar-toggler{
    width: 3rem;
    margin-left: 11rem;
}

.navbar-toggler-icon{
    color: white;
    width: 5rem;
    height: 3rem;
}

.navbar-toggler:focus{
    box-shadow: 0 0 0 0;
}

.navbar-collapse{
    width: 100%;
    padding: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.13) 0rem 1rem 2rem 1rem;
}

.navbar-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-nav a{
    color: var(--texto--azul--oscuro);
    font-weight: 600;
    font-size: 1.3rem;
    margin: 0 auto;
}

.navbar-nav a:hover{
    color: hsla(237, 18%, 21%, 0.699);
}

.navbar-nav a:focus{
    color: hsla(237, 18%, 21%, 0.699);
}

.nav-link{
    display: flex;
    justify-content: center
}

.nav-link ion-icon{
    color: var(--texto--naranja--fuerte);
    transform: rotate(180deg);
}

.nav-item{
width: 100%;
text-align: center;
}

.dropdown-menu{
    text-align: center;
    border: none;
    background: rgba(128, 128, 128, 0.170);
}



.dropdown-menu a{
    font-weight: 600;
    color: var(--texto--azul--claro);
    font-size: 1.1rem;
    margin: .5rem 0rem
}

.dropdown-menu a:hover{
    color: var(--texto--azul--claro);
}

.navbar-nav__botones{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 2rem 0rem 2rem;
    margin-top: 1rem;
    border-top: 1px solid rgba(128, 128, 128, 0.411);
}

.login{
    color: var(--texto--azul--oscuro);
    font-weight: 600;
    font-size: 1.3rem;
    background: transparent;
    border: none;
    margin: 1rem 0rem;
}

.sing-up{
    padding-top:.2rem;
    background: linear-gradient(to right, 
    hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    border: none;
    width: 9rem;
    height: 3rem;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 2rem;
}

.sing-up:hover{
    background: rgba(255, 255, 255, 0.151);
    color: white;
}

/*   INTRO   */

.intro{
    height: 80vh;
    padding-top: 9rem;
}

.intro h2{
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 2.5rem;
}

.intro p{
    margin-top: 1rem;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 1.3rem;
}

.start_learn{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 4rem;
}

.start{
    padding-top:.2rem;
    background: white;
    border: none;
    width: 10rem;
    height: 3.5rem;
    color: var(--texto--naranja--fuerte);
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 2rem;
}

.start:hover{
    background: rgba(255, 255, 255, 0.151);
    color: white;
}

.learn{
    padding-top:.2rem;
    background: transparent;
    border: 2px solid white;
    width: 10rem;
    height: 3.5rem;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 2rem;
}

.learn:hover{
    background: white;
    color: var(--texto--naranja--fuerte);
}

/*   MAIN   */

/*   DESIGNED   */

.designed h3{
    margin: 4rem 0 3rem 0;
    text-align: center;
}

.designed .computer{
    margin-top: 7rem;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.designed img, .computer img{
    width:100%;
}

.designed div, .computer div{
    text-align: center;
    margin-top: 2rem;
    padding: 0 2rem 2rem 2rem;
}

/*   STATE   */

.state{
    background: url(images/bg-pattern-circles.svg), var(--texto--azul--oscuro);
    background-repeat: no-repeat;
    background-size: 40rem 40rem;
    background-position: 50% -16rem;
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 2rem;
    margin-top: 15rem;
    position:relative;
}

.state img{
    width: 100%;
    position:absolute;
    bottom: 26rem;
}

.state h3{
    color: white;
    font-size: 2.7rem;
    margin-top: 13rem;
    margin-bottom: 0;
}

.state p{
    color: white;
    margin-top: 1rem;
    margin-bottom: 5rem;
}


/*   FOOTER   */

footer{
    background: var(--texto--azul--oscuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 7rem;
}

footer img{
    margin: 4rem 0;
}

footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

footer div > h5{
    color: white;
    font-weight: 600;
}

footer div > div{
    margin-top: 1rem;
}

footer div > div > a{
    text-decoration: none;
    color: rgb(153, 153, 153);
    font-size: 1.2rem;
    font-weight: 600;
}

/*   METODO DESAPARECER BOTON MENU   */

.desaparecer{
    display: none;
}

/* METODO MOVER FLECHA DEL MENU */

.flecha .flechita{
    transform: rotateZ(0deg)
}

.flechita{
    transition: transform .3s;
}


/* ====================================================================================== */
/*                                       MEDIA QUERY                                      */
/* ====================================================================================== */


@media screen and (min-width: 1200px){


    .container-fluid{
        width: auto;
    }


    /*   HEADER   */
    .header{
        height: 80vh;
        width: 100vw;
        background: url(images/bg-pattern-intro.svg),linear-gradient(to right, 
        hsl(13, 100%, 72%)20%,hsl(353, 100%, 62%));
        background-size: 130rem 130rem;
        background-repeat: no-repeat;
        background-position: -10rem -51rem;
        border-bottom-left-radius: 9rem;
        padding: 3rem 7rem;
    }

    header .container-fluid{
        margin: 0;
        display: flex;
        width:100%;
        justify-content: space-around;
    }

/*   NAVBAR   */



    .navbar{
        width: 95%;
        background: transparent;
    }
    .navbar-toggler{
        width: 4rem;
    }
    
    .navbar-toggler-icon{
        color: white;
        width: 5rem;
        height: 3rem;
    }
    
    .navbar-toggler:focus{
        box-shadow: 0 0 0 0;
    }

    .navbar-collapse{
        padding: 0rem;
        margin-top: 0rem;
        display: flex;
        align-items: center;
        background: none;
        border-radius: 1rem;
        box-shadow: none;
    }
    
    .navbar-nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .navbar-nav a{
        color: rgba(255, 255, 255, 0.589);
        font-weight: 600;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
    }

    .navbar-nav a:hover{
        color: white;
        border-bottom: 1px solid white;
    }

    .navbar-nav a:focus{
        color: white;
    }
    
    .nav-link{
        display: flex;
        justify-content: center
    }
    
    .nav-link ion-icon{ 
        height:1.2rem;
        color: white;
        transform: rotate(180deg);
        margin: 0 .5rem;
    }
    
    .nav-item{ 
        display: flex;
        align-items: center;
        width: 10rem;
        height: 4rem;
    }
    
    .dropdown-menu{
        text-align: left;
        border: none;
        background: white;
        padding: 1rem 0;
    }
    
    .dropdown-menu a{
        font-weight: 600;
        color: hsla(237, 18%, 21%, 0.699);
        font-size: 1.1rem;
        margin: .5rem 0rem
    }

    .dropdown-menu a:hover{
        color: var(--texto--azul--claro);
    }

    
    .navbar-nav__botones{
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        padding: 0;
        margin-left: 15rem;
        margin-top: 0rem;
        border-top: none;
    }
    
    .login{
        color: white;
        font-weight: 600;
        font-size: 1.3rem;
        background: transparent;
        border: none;
        margin: 0rem 3rem;
    }
    
    .sing-up{
        padding-top:.2rem;
        background: white;
        border: none;
        width: 9rem;
        height: 3rem;
        color: var(--texto--naranja--fuerte);
        font-weight: 600;
        font-size: 1.2rem;
        border-radius: 2rem;
    }

    .sing-up:hover{
        background: rgba(255, 255, 255, 0.151);
        color: white;
    }
    
/*   INTRO   */

.intro{
    height: 80vh;
    width: 100%;
    padding-top: 5rem;
}

.intro h2{
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 4rem;
}

.intro p{
    margin-top: 1rem;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 1.3rem;
}

.start_learn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.start{
    padding-top:0;
    background: white;
    border: none;
    width: 10rem;
    height: 3.5rem;
    color: var(--texto--naranja--fuerte);
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 2rem;
    margin-right: 1.5rem;
}


.learn{
    padding-top:0;
    background: transparent;
    border: 2px solid white;
    width: 10rem;
    height: 3.5rem;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 2rem;
}


/*   MAIN   */

/*   DESIGNED   */

.designed {
    margin-top: 7rem;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.designed div{
    text-align: center;
    margin-top: 2rem;
    padding: 0;
}

.designedDiv{
    overflow-x: hidden;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    padding: 0 0 0 0;
}

.designed h3{
    margin: 4rem 0 1rem 0;
    text-align: left;
    font-size: 3rem;
}

.designed img{
    position:relative;
    right: -4.5rem;
}

.designedDiv div{
    width: 90%;
    text-align: left;
    margin: 2rem 0 0 5rem;
    padding: 0 2rem 2rem 2rem;
}

.designedDiv div > div{
    margin-bottom: 2rem;
}

.designedDiv div > div > h3{
    font-size: 2rem;
}

/*   STATE   */

.state{
    background: url(images/bg-pattern-circles.svg), var(--texto--azul--oscuro);
    background-repeat: no-repeat;
    background-size: 55rem 55rem;
    background-position: -35% -25rem;
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
    width: 100%;
    text-align: left;
    padding: 2rem;
    margin-top: 15rem;
    position:relative;
    height: 50vh;
}

.state img{
    width: 35%;
    position:absolute;
    bottom: -5rem;
    left: 5rem;
}

.state h3{
    color: white;
    font-size: 2.3rem;
    margin-top: 5rem;
    margin-right: 12.5rem;
    margin-bottom: 0;
}

.state p{
    color: white;
    margin-top: 1rem;
    margin-right: 11rem;
    margin-bottom: 5rem;
    width: 40%;
}

/*   COMPUTER   */

.computer{
    margin-top: 7rem;
    margin-bottom: 7rem;
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}


.computer img{
    width: 70%;
    position: absolute;
    left: -15.5rem;
}

.computer div{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    text-align: left;
    margin-top: 2rem;
    padding: 0 2rem 2rem 2rem;
}

.computer div > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

/*   FOOTER   */

footer{
    background: var(--texto--azul--oscuro);
    padding-top: 3rem;
    padding-right: 10rem;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-around;
    border-top-right-radius: 7rem;
}

footer img{
    margin: 0 0;
}

footer div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
}

footer div > h5{
    color: white;
    font-weight: 600;
}

footer div > div{
    margin-top: 1rem;
}

footer div > div > a{
    text-decoration: none;
    color: rgb(153, 153, 153);
    font-size: 1.2rem;
    font-weight: 600;
}

footer div > div > a:focus{
    color: rgb(153, 153, 153);
}

footer div > div > a:hover{
    color: rgb(153, 153, 153);
    border-bottom: 1px solid rgb(153, 153, 153);
}


}